@{
    ViewData["Title"] = "About";
}
<div class="row p-5 mb-4 shadow" style="background-color:white;border-radius:30px;">
    <h1 class="col-sm-12">About Us</h1>
</div>
<div class="row">
    <p class="col-sm-6">
        We're excited to present you with the ultimate platform for all things cinema!
        With ReView, you can explore, rate, and discuss the latest movies, classic films,
        and everything in between. Whether you're a casual viewer or a cinema connoisseur, 
        ReView lets you dive deep into the world of movie reviews and ratings, helping you discover your next favorite film!
    </p>
</div>