@{
    ViewData["Title"] = "Contact";
}
<div class="row p-5 mb-4 shadow" style="background-color:white;border-radius:30px;">
    <div class="col-sm-8">
        <h2>ReView</h2>
        <h3>Headquarters</h3>
        <address>
            3801 Old Oak Drive<br />
            Traverse City, MI 49696<br />
            <abbr title="Phone"><i class="fa fa-address-book-o" style="font-size:24px"></i></abbr>
            800.1RE.VIEW
        </address>
    </div>
    <div class="col-sm-12 mt-5">
        <p><strong>Give feedback:</strong> feedback@review.com</p>
    </div>
</div>
